<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftPtyxiaki.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE15B9D41CE293CB006CA533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE15B9E81CE293CC006CA533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE15B9F31CE293CC006CA533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
