<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testaki.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE8DB6A91C99ED0D00AF8FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8DB6BD1C99ED0E00AF8FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8DB6C81C99ED0E00AF8FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
